<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard"> <!-- set to standard for frontend files, set to admin for backend files -->
        <route id="hello_mvvm" frontName="hello_mvvm">
            <module name="FameCode_HelloWorldMVVM" />
        </route>
    </router>
</config>  